@import '../mixins/mixin';

.root {
    position: relative;

    width: 100%;

    &:hover {
        .input {
            border-color: $Grey;
        }
    }

    &.active {
        .input {
            border-color: $Grey;
        }
    }
}

.root_withIcon {
    position: relative;
    .input {
        padding-right: 16px;
    }
}

.icon {
    position: absolute;
    right: 8px;
    bottom: 2px;

    cursor: pointer;

    color: $Grey;

    font-size: 18px;
}

.input {
    width: inherit;
    height: inherit;
    padding: 6px 8px;

    text-align: inherit;
    text-overflow: ellipsis;

    color: $FontColor;
    border: 1px solid $GreyBorder;
    border-radius: 12px;
    outline: 0;

    font-size: inherit;
    font-style: normal;

    &::placeholder {
        color: $Grey;
    }
}

.notValid {
    .input {
        border-color: $Red;
    }
}

.input:disabled {
    box-shadow: none;
}
